/**
 * Skyrama CSS
 */

/* Basics */
html, body, div, form, fieldset, legend, label {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    text-align: left;
    vertical-align: top;
}

img {
    border: 0;
}

/* Tag Definitions */
body {
    font: 12px Arial, sans-serif;
    font-weight: bold;
    background-color: #8CBF3E;
}

/* Classes */
.tcenter {
    text-align: center;
}

.hidden {
    display: none;
}

/* Buttons */
.button-74x27 {
    width: 74px;
    height: 27px;
    background-image: url(/style/global/buttons/btn_74x27_normal.png?__cv=3972524898ab121bec42af6320ea3800);
    cursor: pointer;
}

.button-74x27-hover {
    background-image: url(/style/global/buttons/btn_74x27_hover.png?__cv=7708d38aaf21acd2460aa2180ca68300);
}

.button-109x27 {
    width: 109px;
    height: 27px;
    background-image: url(/style/global/buttons/btn_109x27_normal.png?__cv=54effe8bede5a3d5e8d8c5ee7028a300);
    cursor: pointer;
}

.button-109x27-hover {
    background-image: url(/style/global/buttons/btn_109x27_hover.png?__cv=7217da0ac67a4132a3c05793c9c6cc00);
}

.button-115x27 {
    width: 115px;
    height: 22px;
    background-image: url(/style/global/buttons/btn_115x27_normal.png?__cv=689d5011febbe1d1e5f9f830a86fcf00);
    cursor: pointer;
    font-weight: bold;
    color: white;
    padding-top: 5px;
    text-align: center;
}

.button-115x27-hover {
    background-image: url(/style/global/buttons/btn_115x27_hover.png?__cv=3bb87d85e6b3a80a1f0385188cc03500);
}

.button-180x27 {
    width: 180px;
    height: 27px;
    background-image: url(/style/global/buttons/btn_180x27_normal.png?__cv=958adb89a256f24d66a27a011b54b100);
    cursor: pointer;
}

.button-180x27-hover {
    background-image: url(/style/global/buttons/btn_180x27_hover.png?__cv=d6c86d77933d4922420cef1c4cc99e00);
}

.button-184x38 {
    width: 174px;
    height: 28px;
    background-image: url(/style/global/buttons/btn_184x38_normal.png?__cv=cd90d2734093034ec4f84f39efd82a00);
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.button-184x38-hover {
    background-image: url(/style/global/buttons/btn_184x38_hover.png?__cv=a0a44098cceea5910037ca5d9dad0d00);
}

.button-341x111 {
    text-align: center;
    width: 331px;
    height: 101px;
    background-image: url(/style/global/buttons/btn_341x111_normal.png?__cv=1c6096de1848ad648e6a15901d265600);
    font-size: 24px;
    line-height: 30px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.button-341x111-hover {
    background-image: url(/style/global/buttons/btn_341x111_hover.png?__cv=8bdc815be3581125bc96e4f0419fd500);
}

/* Footer */
.footer {
    position: absolute;
    text-align: center;
    font-size: 11px;
}

.footer #gl_footer a {
    color: black;
    text-decoration: none;
}

.footer #gl_footer div {
    float: left;
}

.footer #gl_footer img {
    vertical-align: middle;
}

/* Window Forgotpw */
.window-forgotpw {
    background-image: url(/style/global/window_forgotpw.png?__cv=28a12dd7b133e540641882427edcda00);
    width: 450px;
    height: 290px;
    position: absolute;
    top: 180px;
    left: 220px;
}

.window-forgotpw .title {
    position: relative;
    top: 40px;
    left: 50px;
    font-size: 18px;
}

.window-forgotpw .content {
    position: relative;
    top: 50px;
    left: 37px;
    width: 370px;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}

.window-forgotpw .content .back {
    position: relative;
    left: 120px;
}

/* external */
.external {
    width: 100%;
    height: 841px;
}

.external .external-bg-left {
    background-image: url(/style/global/external/bg_left.jpg?__cv=21a6078c6d1995d2f396ac01d74f0400);
    background-position: top right;
    background-repeat: no-repeat;
    width: 50%;
}

.external .external-bg-center {
    background-image: url(/style/global/external/bg_center.jpg?__cv=ef137a25d96733df087a7c1c8d1d7700);
    background-repeat: no-repeat;
}

.external .external-bg-right {
    background-image: url(/style/global/external/bg_right.jpg?__cv=e929d6f661bab7c006643082b026ee00);
    background-position: top left;
    background-repeat: no-repeat;
    width: 50%;
}

.external .external-container {
    position: relative;
    width: 876px;
    min-height: 841px;
}

.external .user-registered {
    position: absolute;
    left: 10px;
    top: 80px;
    width: 190px;
}

.external .lang-text {
    position: absolute;
    left: 655px;
    top: 80px;
}

.external .lang-current {
    position: absolute;
    left: 725px;
    top: 80px;
    width: 150px;
    height: 20px;
    cursor: pointer;
}

.external .lang-current img {
    margin: 0px 15px;
    width: 16px;
    height: 11px;
    vertical-align: middle;
}

.external .lang-select {
    background-color: #CBCDCF;
    position: absolute;
    top: 99px;
    left: 723px;
    width: 152px;
    padding: 6px 0;
    z-index: 12;
}

.external .lang-select a {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    color: black;
    text-decoration: none;
    height: 18px;
}

.external .lang-select .flag {
    cursor: pointer;
    display: block;
    float: left;
    height: 11px;
    margin-left: 15px;
    margin-right: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 16px;
}

.external .cobrand {
    position: absolute;
    top: 0px;
    left: 315px;
    width: 230px;
    height: 65px;
}

.external .slayer-facebook {
    position: absolute;
    top: 50px;
    left: 660px;
}

.external .slayer-googlePlus {
    position: absolute;
    top: 50px;
    left: 615px;
}

.external .footer {
    top: 680px;
    width: 876px;
}

/* SAS Login */
.externalHome .sas-login-position {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 190px;
}

.externalHome .bgc_login_container a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 11px;
    line-height: 18px;
}

.externalHome .bgc_login_container a:hover {
    text-decoration: underline;
}

.externalHome .bgc_login_container {
    position: relative;
}

.externalHome .bgc_login_container .bgc_login_container_form {
    position: absolute;
    top: 17px;
    width: 190px;
}

.externalHome .bgc_login_container .bgc_login_container_form #bgc_login_form_username, .externalHome .bgc_login_container .bgc_login_container_form #bgc_login_form_password {
    background-image: url(/style/global/input_field.png?__cv=be0c6597249a5efb8e6e4cf776c7f500);
    background-color: transparent;
    font-size: 12px;
    border: 0;
    height: 22px;
    line-height: 24px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 95px;
    position: absolute;
    right: 0;
}

.externalHome .bgc_login_container .bgc_login_container_form #bgc_login_form_username {
    top: 0;
}

.externalHome .bgc_login_container .bgc_login_container_form #bgc_login_form_password {
    top: 26px;
}

.externalHome .bgc_login_container .bgc_login_container_form .bgc_login_form_username label {
    position: absolute;
    top: 4px;
    left: 0;
    line-height: 18px;
}

.externalHome .bgc_login_container .bgc_login_container_form .bgc_login_form_password label {
    position: absolute;
    top: 30px;
    left: 0;
    line-height: 18px;
}

.externalHome .bgc_login_container .bgc_login_form_buttons .bgc_login_form_register {
    background-image: url(/style/global/buttons/btn_109x27_normal.png?__cv=54effe8bede5a3d5e8d8c5ee7028a300);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: black;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    left: 0;
    position: absolute;
    top: 55px;
    width: 109px;
    padding: 0;
}

.externalHome .bgc_login_container .bgc_login_form_buttons .bgc_login_form_register:hover {
    background-image: url(/style/global/buttons/btn_109x27_hover.png?__cv=7217da0ac67a4132a3c05793c9c6cc00);
}

.externalHome .bgc_login_container .bgc_login_form_buttons .bgc_login_form_login {
    background-image: url(/style/global/buttons/btn_74x27_normal.png?__cv=3972524898ab121bec42af6320ea3800);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: black;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    right: 0;
    position: absolute;
    top: 55px;
    width: 74px;
    padding: 0;
}

.externalHome .bgc_login_container .bgc_login_form_buttons .bgc_login_form_login:hover {
    background-image: url(/style/global/buttons/btn_74x27_hover.png?__cv=7708d38aaf21acd2460aa2180ca68300);
}

.externalHome .bgc_login_container .bgc_login_container_remindpassword {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    width: 190px;
}

.externalHome .bgc_login_container .bgc_erroroverlay_box {
	background: url(/style/global/register/layer_error.png?__cv=f74bc413642ebea38b102218a0d6ea00?__cv=f74bc413642ebea38b102218a0d6ea00) repeat scroll 0 0 transparent;
	height: 340px !important;
	width: 445px !important;
    left: 50% !important;
    top: 0px !important;
    margin: 0px 34px 0px 0px !important;
	padding: 60px 70px 40px 140px;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0;
    color: #EEEEEE;
}

.externalHome .bgc_login_container .bgc_erroroverlay_blackout {
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
}

.externalHome .bgc_login_container .bgc_erroroverlay_box_header_title {
    display: block;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    margin: 50px 0px 10px 0px;
}

.externalHome .bgc_login_container .bgc_erroroverlay_box_header_close {
    background: url(/style/global/register/registerError_icon.png?__cv=dd0950613982d5296c0cca20949fc600) repeat scroll 0 0 transparent;
    height: 49px;
    position: absolute;
    right: 45px;
    top: 40px;
    width: 52px;
    text-decoration: none;
}

.externalHome .bgc_login_container .bgc_erroroverlay_box_body_list li {
    padding: 5px 0px;
}

.externalHome .sas-fb-connect {
    position: absolute;
    left: 110px;
    top: 52px;
}

/* External Home */
.externalHome .btn-gameTour {
    position: absolute;
    top: 605px;
    left: 85px;
}

.externalHome .btn-register {
    position: absolute;
    top: 580px;
    left: 265px;
    display: block;
    color: black;
    text-decoration: none;
}

.externalHome .btn-forum {
    position: absolute;
    top: 605px;
    left: 601px;
    display: block;
    color: black;
    text-decoration: none;
}

/* Game-Tour */
.externalHome .gameTour {
    position: absolute;
    top: 110px;
    left: 20px;
    z-index: 11;
}

.externalHome .gameTour-container {
    background-image: url(/style/global/gametour/window.png?__cv=84d0446f814000bd5265d34cf96f0e00);
    background-color: transparent;
    position: relative;
    width: 830px;
    height: 464px;
}

.externalHome .gameTour-close {
    background-image: url(/style/global/gametour/btn_close.png?__cv=a8ed3f3dfc30eadbf9e559cd8c077200);
    background-color: transparent;
    position: absolute;
    top: 13px;
    right: 23px;
    width: 55px;
    height: 54px;
    cursor: pointer;
}

.externalHome .gameTour-left {
    background-image: url(/style/global/gametour/btn_left.png?__cv=5fc88d5f76e92e12680448465b9d8a00);
    width: 57px;
    height: 38px;
    background-color: transparent;
    position: absolute;
    top: 159px;
    left: 158px;
    cursor: pointer;
}

.externalHome .gameTour-right {
    background-image: url(/style/global/gametour/btn_right.png?__cv=ba3b97105b954635d6d4e4d59efcca00);
    width: 57px;
    height: 38px;
    background-color: transparent;
    position: absolute;
    top: 159px;
    right: 33px;
    cursor: pointer;
}

.externalHome .gameTour-screenshot {
    position: absolute;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 24px;
    left: 226px;
}

.externalHome .gameTour-text {
    position: absolute;
    top: 340px;
    left: 226px;
    width: 500px;
    height: 80px;
    padding: 10px;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}

/* externalInfo */
.externalInfo {
    position: absolute;
    top: 705px;
    left: 86px;
}

.externalInfo .gameInfoShort {
    background-image: url(/style/global/gameinfo/layer_small.png?__cv=240ba05c9708db56dc7618dee20dcc00);
    width: 680px;
    height: 118px;
    color: black;
    padding: 0 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.externalInfo .gameInfo {
    background-image: url(/style/global/gameinfo/layer_big.png?__cv=07c86f4f5e54dfe39f819c7314631d00);
    width: 680px;
    height: 387px;
    color: black;
    padding: 0 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.externalInfo .gameInfoShort p, .externalInfo .gameInfo p {
    font-weight: normal;
}

.externalInfo .gameInfoShort h1, .externalInfo .gameInfo h1 {
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px 0;
}

.externalInfo .gameInfoShort .seoCloseTag, .externalInfo .gameInfo .seoCloseTag {
    float: right;
    cursor: pointer;
    height: 20px;
    margin-right: 25px;
}

.externalInfo .optional_footer {
    color: black;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}

.externalInfo .optional_footer a {
    color: black;
}

/* externalRegister */
.externalRegister .register {
    position: absolute;
    top: 100px;
    left: 175px;
    width: 520px;
}

.externalRegister .register-top {
    background-image: url(/style/global/register/box_top.png?__cv=ce324bff8b3af6b6f11fb618f3d9aa00);
    background-color: transparent;
    width: 520px;
    height: 80px;
}

.externalRegister .register-top span {
    position: relative;
    left: 60px;
    top: 45px;
    font-size: 16px;
}

.externalRegister .register-bottom {
    background-image: url(/style/global/register/box_bottom.png?__cv=d5879403f2fdb8b2cee4c7c9edaa1e00);
    background-color: transparent;
    width: 520px;
    height: 57px;
}

.externalRegister .register-content {
    background-image: url(/style/global/register/box_middle.png?__cv=afce05d3923ede95ab4814a39708c100);
    width: 460px;
    padding: 0 30px;
}

.externalRegister .register-content .bgc_signup_container_description {
    display: none;
}

.externalRegister .register-content .bgc_signup_container_form {
    padding: 0 30px;
}

.externalRegister .register-content .bgc_signup_form_signup label {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 24px;
    padding: 4px 10px 4px 0;
    width: 150px;
}

.externalRegister .register-content .bgc_signup_form_signup input {
    background-color: white;
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
    width: 220px;
}

.externalRegister .register-content .bgc_signup_form_birthday, .externalRegister .register-content .bgc_signup_form_birthdate {
    visibility: hidden;
}

.externalRegister .register-content .bgc_signup_container_form .bgc_signup_form_termsAndConditions label, .externalRegister .register-content .bgc_signup_container_form .bgc_signup_form_newsletter label {
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 24px;
    padding: 4px 10px 4px 0;
}

.externalRegister .register-content .bgc_signup_container_form .bgc_signup_form_termsAndConditions #bgc_signup_form_termsAndConditions, .externalRegister .register-content .bgc_signup_container_form .bgc_signup_form_newsletter #bgc_signup_form_newsletter {
    margin: 10px 10px 0 0;
}

.externalRegister .register-content a {
    color: white;
    text-decoration: underline;
}

.externalRegister .register-content .bgc_signup_container_form .bgc_signup_form_buttons .bgc_signup_form_back, .externalRegister .register-content .bgc_signup_container_form .bgc_signup_form_buttons .bgc_signup_form_register {
    background-image: url(/style/global/buttons/btn_115x27_normal.png?__cv=689d5011febbe1d1e5f9f830a86fcf00);
    background-color: transparent;
    color: white;
    font-weight: bold;
    height: 28px;
    margin: 10px 0 20px;
    padding: 4px;
    position: relative;
    width: 115px;
    border: 0;
    cursor: pointer;
}

.externalRegister .register-content .bgc_signup_container_form .bgc_signup_form_buttons .bgc_signup_form_back {
    left: 5px;
    top: 0;
}

.externalRegister .register-content .bgc_signup_container_form .bgc_signup_form_buttons .bgc_signup_form_register {
    left: 115px;
    top: 0;
}

.externalRegister .register-content #bgc_signup_container .bgc_erroroverlay_box {
    background-image: url(/style/global/register/layer_error.png?__cv=f74bc413642ebea38b102218a0d6ea00);
    background-color: transparent;
    color: #eeeeee;
    height: 340px !important;
    margin: 0 34px 0 0 !important;
    padding: 60px 70px 40px 140px;
    width: 445px !important;
    top: 10px;
    left: -65px;
}

.externalRegister .register-content #bgc_login_container .bgc_erroroverlay_box_header_close, .externalRegister .register-content #bgc_signup_container .bgc_erroroverlay_box_header_close {
    background-image: url(/style/global/buttons/btn_close.png?__cv=a8ed3f3dfc30eadbf9e559cd8c077200);
    height: 54px;
    position: absolute;
    right: 45px;
    text-decoration: none;
    top: 40px;
    width: 55px;
}

.externalRegister .register-content #bgc_login_container .bgc_erroroverlay_box_header_title, .externalRegister .register-content #bgc_signup_container .bgc_erroroverlay_box_header_title {
    display: block;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    margin: 50px 0 10px;
}

.externalRegister .register-content ul, .external .register-content li {
    list-style: none outside none;
    padding-left: 0;
}

.externalRegister .register-content #bgc_login_container .bgc_erroroverlay_box_body_list li, .externalRegister .register-content #bgc_signup_container .bgc_erroroverlay_box_body_list li {
    padding: 5px 0;
}

.externalRegister .register-content #bgc_login_container .bgc_erroroverlay_blackout, .externalRegister .register-content #bgc_signup_container .bgc_erroroverlay_blackout {
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
}

.bgc div.bgc_password_indicator {
    width: 151px !important;
    padding-left: 157px !important;
}

.bgc div.bgc_password_indicator .status {
    padding: 0;
}

/* externalForgotPassword */
.externalForgotPassword .forgotPassword {
    position: absolute;
    top: 100px;
    left: 175px;
    width: 520px;
}

.externalForgotPassword .forgotPassword-top {
    background-image: url(/style/global/register/box_top.png?__cv=ce324bff8b3af6b6f11fb618f3d9aa00);
    background-color: transparent;
    width: 520px;
    height: 80px;
}

.externalForgotPassword .forgotPassword-top span {
    position: relative;
    left: 60px;
    top: 45px;
    font-size: 16px;
}

.externalForgotPassword .forgotPassword-bottom {
    background-image: url(/style/global/register/box_bottom.png?__cv=d5879403f2fdb8b2cee4c7c9edaa1e00);
    background-color: transparent;
    width: 520px;
    height: 57px;
}

.externalForgotPassword .forgotPassword-content {
    background-image: url(/style/global/register/box_middle.png?__cv=afce05d3923ede95ab4814a39708c100);
    width: 460px;
    padding: 0 30px;
}

.externalForgotPassword .forgotPassword-content td {
    vertical-align: middle;
}

.externalForgotPassword .forgotPassword-content .signup_left {
    width: 180px;
    margin-left: 5px;
}

.externalForgotPassword .forgotPassword-content .signup_left .label_description {
    padding: 5px;
}

.externalForgotPassword .forgotPassword-content .signup_right {
    height: 180px;
    width: 270px;
}

.externalForgotPassword .forgotPassword-content .signup_right td {
    height: 60px;
    text-align: center;
}

.externalForgotPassword .forgotPassword-content .signup_right .label_userData {
    font-size: 14px;
    height: 60px;
}

.externalForgotPassword .forgotPassword-content .signup_back, .externalForgotPassword .forgotPassword-content .signup_submit {
    background-image: url(/style/global/buttons/btn_115x27_normal.png?__cv=689d5011febbe1d1e5f9f830a86fcf00);
    background-color: transparent;
    height: 28px;
    width: 115px;
    padding: 4px;
    margin: 10px 0 20px;
    font-weight: bold;
    color: white;
    border: 0;
}

/* externalLogout */
.externalLogout .external-container {
    height: 885px;
}

.externalLogout .logout {
    background-image: url(/style/global/window_logout.png?__cv=35a9ae93272272b28ea1e2179fd21200);
    width: 753px;
    height: 710px;
    position: absolute;
    left: 35px;
    top: 100px;
    padding: 45px;
}

.externalLogout .logout #logout {
    width: 753px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    float: left;
}

.externalLogout .logout .logoutContainer {
    margin-bottom: 2px;
    text-align: center;
}

.externalLogout .logout .logoutBoxTitle {
    font-size: 30px;
}

.externalLogout .logout .buttonGameLink, .externalLogout .logout .buttonPortalLink {
    background-image: url(/style/global/buttons/btn_180x27_normal.png?__cv=958adb89a256f24d66a27a011b54b100);
    background-color: transparent;
    width: 180px;
    padding: 4px;
    border: 0;
    color: black;
    cursor: pointer;
    margin: 10px 0 20px 0;
    font-weight: bold;
    height: 27px;
}

.externalLogout .logout a {
    color: white;
    text-decoration: none;
}

.externalLogout .logout a:hover {
    text-decoration: underline;
}

.externalLogout .logout .buttonGameLink:hover, .externalLogout .logout .buttonPortalLink:hover {
    background-image: url(/style/global/buttons/btn_180x27_hover.png?__cv=d6c86d77933d4922420cef1c4cc99e00);
}

.externalLogout .footer {
    top: 860px;
}

/* externalImprint */
.externalImprint .external-container {
    height: 965px;
}

.externalImprint .footer {
    top: 940px;
}

.externalImprint .imprint {
    background-image: url(/style/global/window_support.png?__cv=d26facbde9377acf462d938b04ad4d00);
    width: 697px;
    height: 860px;
    position: absolute;
    top: 100px;
    left: 85px;
}

.externalImprint .imprint-container {
    position: relative;
    top: 30px;
    left: 40px;
    width: 610px;
    height: 800px;
}

.externalImprint .imprint-top {
    position: absolute;
    top: 5px;
    font-size: 18px;
}

.externalImprint .imprint-content {
    font-weight: normal;
    line-height: 18px;
    position: absolute;
    top: 30px;
    z-index: 11;
}

.externalImprint .imprint-content a {
    color: white;
}

.externalImprint .imprint-close {
    background-image: url(/style/global/buttons/btn_close.png?__cv=a8ed3f3dfc30eadbf9e559cd8c077200);
    position: absolute;
    right: 10px;
    top: 10px;
    width: 55px;
    height: 54px;
    cursor: pointer;
    display: block;
    z-index: 12;
}

/* externalSupport */
.externalSupport .external-container {
    height: 965px;
}

.externalSupport .footer {
    top: 940px;
}

.externalSupport .mySupport {
    background-image: url(/style/global/window_support.png?__cv=d26facbde9377acf462d938b04ad4d00);
    width: 697px;
    height: 860px;
    position: absolute;
    top: 100px;
    left: 85px;
}

.externalSupport .support-container {
    position: relative;
    top: 30px;
    left: 40px;
    width: 610px;
    height: 800px;
}

.externalSupport .support-content {
    font-weight: normal;
    line-height: 18px;
    position: absolute;
    top: 30px;
    z-index: 11;
}

.externalSupport .support-content a {
    color: white;
}

.externalSupport .support_label {
    width: 100px;
    font-weight: bold;
}

.externalSupport .support_thTitle {
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}

.externalSupport .input_text {
    background-color: white;
    border: 1px solid black;
    margin: 2px;
    padding: 1px;
    width: 227px;
}

.externalSupport .textarea_supportDesc {
    border: 0;
    height: 100px;
    margin: 1px;
    width: 227px;
}

.externalSupport .support-close {
    background-image: url(/style/global/buttons/btn_close.png?__cv=a8ed3f3dfc30eadbf9e559cd8c077200);
    position: absolute;
    right: 10px;
    top: 10px;
    width: 55px;
    height: 54px;
    cursor: pointer;
    display: block;
    z-index: 12;
}

.externalSupport a {
    text-decoration: none;
}

.externalSupport .support_submit {
    background-image: url(/style/global/buttons/btn_115x27_normal.png?__cv=689d5011febbe1d1e5f9f830a86fcf00);
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    font-weight: bold;
    height: 27px;
    padding: 4px;
    width: 115px;
    margin: 10px 0 20px;
}

.externalSupport .support_submit:hover {
    background-image: url(/style/global/buttons/btn_115x27_hover.png?__cv=3bb87d85e6b3a80a1f0385188cc03500);
}

#errorLayer, #successLayer {
	background: url(/style/global/register/layer_error.png?__cv=f74bc413642ebea38b102218a0d6ea00?__cv=f74bc413642ebea38b102218a0d6ea00) repeat scroll 0 0 transparent;
	height: 340px !important;
	width: 445px !important;
    left: -15px !important;
    top: 30px !important;
    margin: 0px 34px 0px 0px !important;
	padding: 60px 70px 40px 140px;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0;
    color: #EEEEEE;
    position: absolute;
    z-index: 20;
}

#successLayer {
	background: url(/style/global/register/layer_success.png?__cv=9c49c932392ae08be32925e11f4a4900) repeat scroll 0 0 transparent;
}

#errorLayer .signup_errorHeader .signup_errorTitle,
#errorLayer .support_errorHeader .signup_errorTitle,
#successLayer .signup_successHeader .signup_successTitle {
    display: block;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    margin: 50px 0px 10px 0px;
}

#errorLayer .signup_errorHeader .signup_errorClose,
#errorLayer .support_errorHeader .signup_errorClose,
#successLayer .signup_successHeader .signup_successClose {
    background: url(/style/global/register/registerError_icon.png?__cv=dd0950613982d5296c0cca20949fc600) repeat scroll 0 0 transparent;
    height: 49px;
    position: absolute;
    right: 45px;
    top: 40px;
    width: 52px;
    text-decoration: none;
}

/* Slayer fix */
#slayer-button {
    display: none;
}

/* internalHome */
.internalHome {
    width: 100%;
    height: 853px;
}

.internalHome .cobrand {
    position: absolute;
    top: 25px;
    left: 730px;
    width: 230px;
    height: 65px;
}

.internalHome .frame-bg-left {
    background-image: url(/style/global/frame/bg_left.jpg?__cv=10a7dcc5d3851c65874935bc9ad70c00);
    background-position: top right;
    background-repeat: no-repeat;
    width: 50%;
}

.internalHome .frame-bg-center {
    width: 1255px;
    background-image: url(/style/global/frame/bg_center.jpg?__cv=3138e37ef3480c3c502e4d14468a3e00);
    background-repeat: no-repeat;
}

.internalHome .frame-bg-right {
    background-image: url(/style/global/frame/bg_right.jpg?__cv=9038e14eee8f73d1d4a2336e69b21d00);
    background-position: top left;
    background-repeat: no-repeat;
    width: 50%;
}

.internalHome .frame-container {
    position: relative;
    width: 1255px;
    height: 853px;
}

.internalHome .client-frame {
    position: absolute;
    width: 1000px;
    height: 600px;
    top: 153px;
    left: 78px;
}

.internalHome .client-frame .get-flash {
    position: relative;
    width: 1000px;
    height: 600px;
}

.internalHome .client-frame .get-flash a {
    position: absolute;
    top: 279px;
    left: 420px;
}

.internalHome .client-content {
    position: relative;
    overflow: hidden;
}

.internalHome .payment, .internalHome .profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 600px;
}

.internalHome .payment .payment-close, .internalHome .profile .profile-close {
    background-image: url(/style/global/buttons/btn_close.png?__cv=a8ed3f3dfc30eadbf9e559cd8c077200);
    position: absolute;
    right: -10px;
    top: -10px;
    width: 55px;
    height: 54px;
    cursor: pointer;
    display: block;
    z-index: 12;
}

.internalHome .user-info {
    position: absolute;
    top: 125px;
    left: 160px;
}

.internalHome .socialIcons {
    position: absolute;
    top: 117px;
    left: 840px;
}

.internalHome .socialIcons div {
    float: left;
    margin-right: 10px;
}

.internalHome .footer {
    position: absolute;
    text-align: center;
    top: 764px;
    width: 1225px;
}

.internalHome .banner {
    width: 120px;
    height: 600px;
    position: absolute;
    top: 152px;
    right: 25px;
}

.internalHome .banner-us {
    width: 160px;
    height: 600px;
    position: absolute;
    top: 152px;
    right: 32px;
}

.internalHomeUs .frame-container {
    width: 1300px;
}

.internalHomeUs .frame-bg-left {
    background-image: url(/style/global/frame/us/bg_left.jpg?__cv=219b709c463304c6b95b4024151dd400);
}

.internalHomeUs .frame-bg-center {
    width: 1300px;
    background-image: url(/style/global/frame/us/bg_center.jpg?__cv=a1e278d1e84ab7bc3462a782762f6700);
}

.internalHomeUs .frame-bg-right {
    background-image: url(/style/global/frame/us/bg_right.jpg?__cv=df559419e423c447f6f66a4ae1f2e100);
}

.flashbench-container {
    position: absolute;
    top: -100px;
    width: 1px;
    height: 1px;
    visibility: hidden;
}

#bgcdw_doubleOptInInfo_container, #bgcdw_doubleOptInInfo_container {
    width: 530px;
}

.bgcdw_doubleOptInInfo_link_request{
    font-weight: bold;
}

#adContainer {
    width: 860px;
    margin: 50px auto;
}

.uninitiated {
    left:0px;
    top:0px;
    width:1px !important;
    height:1px;
    overflow: hidden;
    position:absolute;
}

#preLayer {
    left:50%;
    top:50%;
    width:594px;
    height:424px;
    margin-left: -297px;
    margin-top: -212px;
    background: url(../data/layer/tnt-layer_bg.png) no-repeat;
    position:absolute;
}

#preLayer_headline {
    font-family: Arial;
    color: yellow;
    font-size: 150px;
    background: -webkit-linear-gradient(yellow, green);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

#preLayer_topContent {
    color: #FFF;
    text-shadow: 0px 0px 2px #000;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    margin-top:25px;
    text-align: center;
}

#preLayer_botContent {
    position: absolute;
    bottom:25px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

#preLayer_OkButton {
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    left: 50%;
    margin-left: -30px;
    bottom: -22px;
    width: 60px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;

}

#preLayer_OkButton img {
    border: 3px solid #FFF;
    border-radius: 16px;
}


.shadowed {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.7));
    filter: url(../shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGC7eGk4PJkA83J1AXCmgUfc.woff) format('woff');
}

svg {
    width: 594px;
    height: 60px;
    font: 150%/1.2 'Source Sans Pro', sans-serif;
    position:absolute;
    top: -35px;
}

text {
    fill: url(#headlinepattern);
    font-weight: 900;
    stroke:#000000;
    stroke-width:2px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
    text-anchor:middle;
}

#mask {
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    left: 0px;
}

/*
 DOWNLOAD STANDALONE CLIENT LAYER
*/
#downloadStandaloneClientOverlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 895px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 1;
}

#downloadStandaloneClientLayer {
    display: block;
    margin: 200px auto;
    width: 450px;
    height: 350px;
    background: url(../landingpage/global/background/standaloneClientLayerBackground.png) no-repeat;
}

#closeDownloadLayer {
    float: right;
}

#downloadClientHeadline {
    display: block;
    padding-left: 130px;
    padding-top: 30px;
    font-size: 0.9rem;
}

#downloadClientText {
    display: block;
    height: 140px;
    padding-top: 20px;
    padding-left: 130px;
    padding-right: 10px;
    margin-bottom: 10px;
}

#downloadClientButtonContainer {
    display: block;
    text-align: center;
    padding-left: 120px;
}

.downloadClientButton {
    width: 150px;
    height: 38px;
    background: url(../landingpage/global/background/downloadButtonClient.png) no-repeat;
    border: 0px;
    margin: 2px;
}

.downloadClientButton:hover {
    color: #fff
}
