<!doctype html>
<html>
<head>
	<script type="text/javascript">	
		//<!--
        	

        		function onBodyReady()
        		{
            		var progressbar = parent.document.getElementById('popupProgress');
            		if (progressbar)
            			progressbar.style.display = 'none';            		
        		}

			
		//-->
	</script>
</head>

<body onLoad="javascript:onBodyReady()">
	<h2 class="error_header" style="align-content: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Technical Error</h2>
	<div class="error_desc" style="align-content: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Oops, the Coffee Plane has dropped some skycoffee over the server. Please reload the game, and tell us what caused this issue.</div>
	<br>
	<br>
	<br>
	<center>
		<input class="error_reload" type="button" value="Reload Skyrama"
			onclick="parent.window.location.href = parent.window.location.href" />
	</center>
  <center>
    <img src="/templates/styles/coffeeplane.png" width="280" height="200">
  </center>
</body>
</html>