<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="/templates/styles/styles.css"></link>
		<div align="center" style="margin:0%; border:0%;">
			<img src="/templates/styles/skyrama_header.png" alt="Header" style="margin-top: 0; border-top: 0; height:150px;">
		</div>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
		<script type="text/javascript">
			function mySubmit(obj) {
  				var pwdObj = document.getElementById('password');
  				var hashObj = new jsSHA("SHA-512", "TEXT", {numRounds: 1});
  				hashObj.update(pwdObj.value);
  				var hash = hashObj.getHash("HEX");
  				pwdObj.value = hash;
			}
		</script>
	</head>
	<body>
		<div align="center">
			<style>
				body {
				  background-image: url('/templates/styles/background.jpg');
				  margin-bottom: 0;
				  border-bottom: 0;
				  background-repeat: no-repeat;
				  background-position: center center;
				  background-size: cover;
				}
				</style> 
			<div align="center" class="border">
				<div class="header">
					<h1 class="word" style="align-content: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Login</h1>
				</div>
				<h2 class="word">
					<form action="/login" method="POST">
						<div class="msg" style="align-content: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">{{msg}}</div>
						<input id="username" name="username" type="text" placeholder="Enter your username" class="textbox"/> </br> </br>
						<input id="password" name="password" type="password" placeholder="Enter your password" class="textbox"/> </br> </br>
						<input type="submit" value="Sign In" class="btn"  onclick="mySubmit(this)"/> </br> </br>
 					</form>
				</h2>
				<p class="bottom" style="align-content: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"> Don't have account? <a class="bottom" href="/register"> Sign up here </a> </p>
			</div>
		</div>
	</body>
</html>