<!doctype html>
<html>
<head>
	<script type="text/javascript">	
		//<!--
        	

        		function onBodyReady()
        		{
            		var progressbar = parent.document.getElementById('popupProgress');
            		if (progressbar)
            			progressbar.style.display = 'none';            		
        		}

			
		//-->
	</script>
</head>

<body onLoad="javascript:onBodyReady()">
	<h2 class="error_header" style="align-content: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Working on it!</h2>
	<div class="error_desc" style="align-content: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Sorry, this feature has not yet been implemented into our Skyrama Private Server. We're working hard on completing the game!</div>
	<br>
	<br>
	<center>
		<input class="error_reload" type="button" value="Reload Skyrama"
			onclick="parent.window.location.href = parent.window.location.href" />
	</center>
	<br>
  <center>
    <img src="/templates/styles/unimplemented_footer.png" width="356" height="200">
  </center>
</body>
</html>